PORT=8000
MONGODB_URI=mongodb+srv://aahmedbsds23seecs_db_user:5M7HpGmM67zQqM6F@madproject.jn0e75x.mongodb.net/?appName=madproject
JWT_SECRET=1234567
JWT_EXPIRES_IN=7d
CORS_ORIGIN=*
MAX_VIDEO_SIZE_MB=100
GEMINI_API_KEY=AIzaSyDjU1_9CDN36yku5m0NI4zWTOkAMhL2SSU
