.env
__pycache__/
*.py[cod]
.env
.venv/
.mypy_cache/
Python-3.14.0/

# Node / React Native
node_modules/
android/.gradle/
ios/build/
*.keystore
docker-compose.yml

# System / IDE
.vscode/
.idea/
.DS_Store